<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-col">
        <div class="navbar-wrapper">
            <div class="navbar-logo-wrapper">
                <img src="assets/LogoWhite.png" class="navbar-logo">
            </div>
            <div class="navbar-heading">
                <h1>BagDetectAI</h1>
            </div>
            <div class="navbar-profile-wrapper">
                <div class="navbar-profile-photo"></div>
                <div class="navbar-username">admin</div>
            </div>
        </div>
        <section class="dashboard-content-wrapper">
            <section class="first-half">
                <form id="dashboard-form" (ngSubmit)="submitForm()">
                    <p>Don't let the confusion of categorizing your belongings cause unnecessary stress during your travels.<br/> Embrace the convenience of BagDetectAI and embark on your trips with confidence.</p>
                    <div id="login-heading-wrapper">
                        <h2>Enter the following</h2>
                    </div>
                    <input list="airportArr" class="input-field" (keyup)="onKeyAirport($event)" [(ngModel)]="selectedToAirport" name="to" placeholder="To Airport" required>
                    <datalist id="airportArr">
                        <option *ngFor="let opt of airportArr" [value]="opt">                       
                    </datalist>

                    <input list="airportArr" class="input-field" (keyup)="onKeyAirport($event)" [(ngModel)]="selectedFromAirport" name="from" placeholder="From Airport" required>
                    <datalist id="airportArr">
                        <option *ngFor="let opt of airportArr" [value]="opt">                       
                    </datalist>

                    <input list="Airline" class="input-field" (keyup)="onKeyAirline($event)" [(ngModel)]="selectedAirline" name="Airline" placeholder="Airline" required>
                    <datalist id="Airline">
                        <option *ngFor="let opt of airlineArr" [value]="opt">                       
                    </datalist>

                    <input type="date" class="input-field" [(ngModel)]="flightDate" name="date" placeholder="Date" required>
                    <label id="upload-button" for="upload-video">
                        <input id="upload-video" type="file" (change)="onChange($event)" />
                        <i class="fa fa-upload"></i>
                        <div class="upload-button-text-wrapper">
                            <div id="upload-video-lable">Upload Video</div>
                        </div>
                     </label>
                    <button id="submit-button" type="submit">Submit</button>
                </form>
            </section>
            <section class="second-half"></section>
        </section>
    </div>
</body>

</html>